.pagination {
    margin: 24px auto;
    text-align: center;
}

.cardWrapr {
    border: 1px solid #e4e5e7;
    border-bottom: none;
    .cardContainer {
        height: 80px;
        width: 100%;
        border-bottom: 1px solid #e4e5e7;
        background: #fff;
        padding: 10px 15px;
        position: relative;
        transition: all .4s;
        .supportTag {
            width: 80px;
            height: 20px;
            background-color: #f1f1f1;
            color: #999;
            font-size: 12px;
            line-height: 20px;
            position: absolute;
            right: 15px;
            top: 0;
            text-align: center;
        }
        .contentContainer {
            width: 100%;
            height: 100%;
            display: flex;
            .content {
                width: 80%;
                height: 100%;
                display: flex;
                align-items: center;
                img {
                    width: 55px;
                    height: 55px;
                }
                .titleContainer {
                    width: 100%;
                    height: 55px;
                    margin-left: 10px;
                    display: flex;
                    color: #333;
                    flex-direction: column;
                    justify-content: space-between;
                    .title {
                        white-space: nowrap;
                        font-size: 14px;
                        height: 28px;
                        line-height: 28px;
                        cursor: pointer;
                    }
                    .autor {
                        white-space: nowrap;
                        font-size: 12px;
                        height: 28px;
                        line-height: 28px;
                        display: flex;
                        align-items: center;
                        color: #8590a6;
                    }
                }
            }
            .tag {
                width: 20%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                div {
                    width: 100%;
                    white-space: nowrap;
                    font-size: 12px;
                    height: 28px;
                    display: flex;
                    align-items: center;
                    color: #8590a6;
                    justify-content: flex-end;
                }
            }
        }
    }
}

.cardContainer:hover {
    background: #f5f8fa;
}